.cat-info {
  display: flex;
}

.cover {
  width: 500px;
  /* max-height: 500px; */
  background-color: #969696;
}

.cover img {
  width: 100%;
  display: block;
}

.description {
  margin-left: 10px;
  width: 600px;
}

.cat-info {
  margin-top: 10px;
}

.temperament {
  font-weight: bold;
}
