ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 5px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  gap: 20px;
  margin: 0 auto;
}

.card {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
  width: calc((900px - (3 * 20px)) / 4);
}

.card img {
  width: 100%;
  display: block;
}

.load-more {
  margin: 20px auto;
  /* display: flex; */
}

.counter {
  position: fixed;
  top: 20px;
  right: 30px;
  width: 100px;
  height: 50px;
  /* background-color: red; */
}

.js-guard {
}
