body {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

p {
  margin: 0;
}

.box {
  width: 600px;
  height: 600px;

  border: 10px solid black;
  position: relative;
}

.game {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sub-box {
  cursor: pointer;
  padding: 10px;
  width: calc(100% / 3);
  height: calc(100% / 3);
  cursor: pointer;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 3px solid black;
}

.markerO {
  width: 80%;
  height: 80%;
  border: 25px solid red;
  box-sizing: border-box;
  border-radius: 50%;
}

.markerX {
  width: 100%;
  height: 100%;
  position: relative;
}

.stick1,
.stick2 {
  height: 100%;
  width: 15%;
  border-radius: 15px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

.stick2 {
  transform: translate(-50%) rotate(-45deg);
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  background-color: rgb(253, 255, 146);
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message {
  margin: 0;
  font-size: 300%;
}

.restart-button {
  width: 40%;
  height: 30%;
  font-size: 180%;
  cursor: pointer;
  margin-top: 45px;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

/* .shape {
  margin: 15px 0 15px 0;
  width: 10%;
  height: 16%;
  outline: 1px solid red;
} */

.winner {
  background-color: rgb(85, 239, 85);
}
